@import 'abstracts/variables';

input,
textarea,
select {
  background-color: #fff;
  border-width: 0px 0px 0px 0px;
  padding: 12px 20px;
  outline: none;
  color: $text-color;
  width: 100%;
  &:focus {
    box-shadow: rgba(0, 0, 0, 0.098) 0px 0px 0px 0.9694px inset;
  }

  &::placeholder {
    color: #77777790;
  }
}

.btn-primary, .btn-secondary, .btn1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 0;
  padding: 14px 24px;
  font-size: 15px;
  color: $white-color;
  background-color: $secondary-color;
  transition: all 0.3s ease-in-out;
  display: inline-block;

  &:hover {
    color: $white-color !important;
    background-color: $dark-color;
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.10196078431372549);
  }
}

.btn-secondary {
  color: $secondary-color;
  background-color: $background-color1;

  &:hover {
    color: $white-color !important;
    background-color: $secondary-color !important;
  }
}

.btn1 {
  border-radius: 30px;
  padding: 10px 20px;
  text-transform: uppercase;
  i {
    margin-left: 10px;
    margin-right: -10px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 15px !important;
    rotate: -45deg;
    text-align: center;
    background-color: $white-color;
    color: $secondary-color;
    border-radius: 50%;
  }

  &:hover {
    i {
      color: $primary-color;
    }
  }
}
// Banner Seperator
.banner-sperator {
  height: 4px;
  width: 100px;
  background: #fff;
  border-radius: 2px;
  position: relative;
  margin-left: 27px;

  &::after {
    content: "";
    position: absolute;
    color: #fff;
    left: -27px;
    top: 0;
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 9px 0 0 0 currentColor, 18px 0 0 0 currentColor;
    box-shadow: 9px 0 0 0 currentColor, 18px 0 0 0 currentColor;
  }
}

//Divider Pattern 
.divider-pattern {
  background: repeating-linear-gradient(-60deg, #D5D4D4, #D5D4D4 1px, transparent 1px, transparent 7px);
}

// Glass
.glass {
  background: rgba(255, 255, 255, 0.2); /* Transparent White */
  backdrop-filter: blur(10px); /* Frosted blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 12px;
  padding: 20px;
}