// Colors
$primary-color: #252525;
$secondary-color: #906E49;
$white-color: #ffffff;
$text-color: #777777;
$grey-color: #F1F1F1;
$dark-color: #000000;
$background-color1: #F6F2EB;
$border-grey: #FDFDFD66;
$border-light: #F1F1F147;


// FONT
$font-family-base: 'Poppins', Arial, sans-serif;
$font-size-base: 15px;
$line-height-base: 1.5;